<!-- Remote Projects JS -->
<script src="{{ '/assets/js/remote-projects.js' | relative_url }}"></script>

<div class="row m-3 mt-5">

  <div class="col-md-6 wow animated fadeIn" data-wow-delay=".15s">
    <a href="https://vincnardelli.com/cbd" class="project card text-dark">
     
      <img class="card-img-top" src="{{ site.baseurl }}/img/course_coding.jpg" />
      <div class="card-body">
        <h2 class="card-title">Coding and Big Data</h2>
        <p class="card-text">
          <span class="badge badge-pill text-primary border border-primary ml-1">Algorithms</span>
          <span class="badge badge-pill text-primary border border-primary ml-1">Data analysis</span>
          <span class="badge badge-pill text-primary border border-primary ml-1">R</span>
        </p>
        <p class="card-text">Università Cattolica del Sacro Cuore (Roma) - 2023/2024</p>

      </div>
    </a>
  </div>

  <!-- Add similar blocks for other cards -->

  <div class="col-md-6 wow animated fadeIn" data-wow-delay=".15s">
    <a href="https://vincnardelli.com/seai" class="project card text-dark">
     
      <img class="card-img-top" src="{{ site.baseurl }}/img/course_spatial.jpg" />
      <div class="card-body">
        <h2 class="card-title">Spatial Analysis in R and Python</h2>
        <p class="card-text">
          <span class="badge badge-pill text-primary border border-primary ml-1">Spatial Statistics</span>
          <span class="badge badge-pill text-primary border border-primary ml-1">Spatial Econometrics</span>
          <span class="badge badge-pill text-primary border border-primary ml-1">R</span>
          <span class="badge badge-pill text-primary border border-primary ml-1">Python</span>
        </p>
        <p class="card-text">Spatial Econometrics Association - 2022</p>
      </div>

    </a>
  </div>

</div>
